<div class="custom-table">
  <nz-table #table nzSize="middle" [nzData]="listOfDisplayData" [nzPageSize]="recordNumber"
            style="padding-left: 15px;padding-right: 15px;padding-top: 10px">
    <thead nzSingleSort (nzSortChange)="sort($event)">
    <tr>
      <th nzWidth="100px"><span nz-text><strong>头像</strong></span></th>
      <th nzWidth="100px"><span nz-text><strong>商品名</strong></span></th>
      <th nzWidth="100px" nzShowSort nzSortKey="originalPrice"><span nz-text><strong>原 价</strong></span></th>
      <th nzWidth="100px" nzShowSort nzSortKey="discountPrice"><span nz-text><strong>打折价</strong></span></th>
      <th nzWidth="100px" nzShowSort nzSortKey="agentPrice"><span nz-text><strong>代理价</strong></span></th>
      <th nzWidth="100px" nzShowSort nzSortKey="pageviews"><span nz-text><strong>浏览量</strong></span></th>
      <th nzWidth="100px"><span nz-text><strong>操作</strong></span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td>
        <nz-avatar [nzShape]="'square'" [nzIcon]="'user'" nzSrc="{{data.avatarUrl}}"></nz-avatar>
        <nz-tag *ngIf="data.isNew == 1" [nzColor]="'green'" class="tag">今日推荐</nz-tag>
      </td>
      <td><a href="javascript:void(0);" (click)="navDetail(data)">{{ data.name }}</a></td>
      <td>{{ data.originalPrice}}</td>
      <td>¥ {{ data.discountPrice}}</td>
      <td>¥ {{ data.agentPrice}}</td>
      <td>{{data.pageviews}}</td>
      <td style="padding-left: 0px;">
        <button nz-button nzType="primary" (click)="operateProduct('update',data.id)"
                nzGhost="true" nzSize="small">更 改
        </button>
        <button nz-button nzType="danger" (click)="showDeleteConfirm(data.id)"
                nzGhost="true" nzSize="small">删 除
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
