<div id="runningAccountIndex" #runningAccountIndex>
  <div class="flex">
    <h1>分类列表</h1>
    <button nz-button (click)="showModal('add')">
      <i nz-icon nzType="plus"></i><span>添加分类</span>
    </button>
  </div>

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    nzOkText="确定"
    nzCancelText="取消"
    [nzOkDisabled]="!recordForm.valid"
    [nzBodyStyle]="{'padding-bottom.px': 0}"
  >

    <form nz-form [formGroup]="recordForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>分类名
        </nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="此为必填项">
          <input nz-input formControlName="name" [maxLength]="10">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>优先级</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="此为必填项">
          <nz-input-number style="width: 100%" formControlName="priority" [nzMin]="0"
                           [nzMax]="99"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>

  <div class="custom-table">
    <nz-table #table nzSize="middle" [nzData]="listOfDisplayData" [nzPageSize]="recordNumber"
              style="padding-left: 15px;padding-right: 15px;padding-top: 10px">
      <thead>
      <tr>
        <th><span nz-text><strong>分类名</strong></span></th>
        <th><span nz-text><strong>优先级</strong></span></th>
        <th><span nz-text><strong>操 作</strong></span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table.data">
        <td>{{ data.name }}</td>
        <td>{{ data.priority}}</td>
        <td style="padding-left: 0px;">
          <button [disabled]="data.id==999" nz-button nzType="primary" (click)="showModal('update',data)"
                  nzGhost="true" nzSize="small">更 改
          </button>
          <button [disabled]="data.id==999" nz-button nzType="danger" (click)="showDeleteConfirm(data.id)"
                  nzGhost="true" nzSize="small">删 除
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
