.inner {
  height: 100%;
  width: 100%;
  overflow: auto;
}

[nz-form] {
  margin: auto;
  max-width: 700px;
}

.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.custom-button{
  margin-left: 0;
  position: absolute;
  z-index: 99;
}
